.header{
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}

.header__content {
    display: flex;
    flex: 0.2;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
    color: black;
    font-size: 14px;
}



