.main{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 100%;
}

.main__container{
    margin-top: 15rem;
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
}

.main__container > img{
    width: 280px;
    align-self: center;
    object-fit: contain;
    margin-bottom: 20px;
}

.main__containerButtons{
    align-self: center;
    margin-top: 50px;
}

.main__containerButtons > button{
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid #f8f9fa;
    background-color: #f8f9fa;
    border-radius: 3px;
}

.main__containerButtons > button:hover{
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3)
}